<div>
  <h2>Scheduler</h2>

  <div class="divider"></div>

  <div class="row">
    <app-scheduler-item-form (onStepCreated)="addStep($event)"></app-scheduler-item-form>
  </div>

  <div class="section">
    <h5>Steps</h5>
  </div>

  <div class="row">
    <button class="waves-effect waves-light btn" (click)="loadProgram()">Load Program</button>
  </div>

  <div class="row" *ngIf="program.steps.length > 0">
    <app-scheduler-item-list [program]="program"></app-scheduler-item-list>
  </div>
</div>
