<div class="card">
    <div class="card-content">
        <span class="card-title">Metronome</span>

        <div class="row">
            <h1><span>{{tempo}}</span>BPM</h1>
        </div>
        <div class="row">
            <label>Tempo:</label>
            <div class="input-field">
                <p class="range-field">
                    <input type="range" min="30.0" max="250.0" step="1" [(value)]="tempo">
                </p>
            </div>
        </div>
        <div class="row">
            <label>Gain:</label>
            <div class="input-field">
                <p class="range-field">
                    <input type="range" min="0.0" max="100.0" step="{{gainAmount}}" [(value)]="gain">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select #resolutionSelect [(value)]="resolution" materialize="material_select" [materializeSelectOptions]="resolutionOptions" (change)="changeResolution($event.target.value)">
                    <option value="" disabled selected>Resolution</option>
                    <option *ngFor="let option of resolutionOptions" [value]="option.value">{{option.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card-action">
        <a class="play" (click)="togglePlaying()">{{isPlaying ? "stop" : "start"}}</a>
    </div>
</div>